body{
    background-color:white;
    height:100%;
    margin: 0px;
}

.grid-containertitel{
    display:grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(14, 4.165vw);

}


.grid-containertitel > div {
    text-align: left;
    font-size: 2vw;
  }

.bild{
    grid-column: 1/ span 7;
    grid-row: 1/ span 8; 
    margin-left: -2vw;
}
        
.bild img{
    width: 100%;
    padding-bottom: 30px;
    z-index: 1;
}

.titel{
    grid-column: 3 / 13;
    grid-row: 4;
    margin-top: 1vw;

}

.titel p{
    color:black;
    font-family: 'Prata', serif;
    font-size: 8vw;
    font-style:normal;
    font-variant:normal; 
    font-weight:bold; 
    margin: 0px;
    z-index: 10;
}

.untertitel{
    grid-column: 5 / 12;
    grid-row: 6;
}

.untertitel p{
    color:black;
    font-family: 'Prata', serif;
    font-size: 3vw;
    font-style:normal;
    font-variant:normal; 
    z-index: 10;
}

.textweiss{
    grid-column: 4 / 11;
    grid-row: 8;
    margin-left: 30px;
}

.textweiss p{
    color:black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
    font-style:normal;
    font-variant:normal; 
    line-height: 130%;
    z-index: 99;
}







.grid-containerrot{
    display:grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(13, 4.165vw);

}

.grid-containerrot > div {
    text-align: left;
    font-size: 2vw;
  }

.bildrot{
    grid-column: 1/5;
    grid-row: 2/ span 6 ; 

}
        
.bildrot img{
    width: 100%;
    z-index: 1;
}

.roterbalken {
    background-color: #ffffff;
    border: 3px solid rgb(240, 210, 215);
    grid-column: 1 / 11;
    grid-row: 1/ span 10;
    z-index: -1;
}

.weisserbalkenrot {
    background-color: white;
    grid-column: 8 / 13;
    grid-row: 2/12;
    z-index: 0;

}

.titelrot{
    grid-column: 3 / 12;
    grid-row: 1 ;
    z-index: 0;
    margin-top: 20px;
    margin-left: 30px;


    animation: opacity1 0.9s;
    animation-play-state:paused;
    animation-delay: calc(var(--scroll) * -1s);
    
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.titelrot h2{
    color:#ab374a;
    font-family: 'Prata', serif;
    font-size: 6vw;
    font-style:normal;
    font-variant:normal; 
    font-weight: lighter;
}

.textrot{
    grid-column: 6 / 12;
    grid-row: 4 ;
    z-index: 0;
    margin-top: 20px;

    animation: opacity1 0.9s;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.textrot h3{
    color:black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vw;
    font-style:normal;
    font-variant:normal; 
    line-height: 140%;
    font-weight: lighter;
}

.textrot p{
    text-align: center;
    color:black;
    font-family: 'Prata', serif;
    font-size: 1.2vw;
    font-style:normal;
    font-variant:normal; 
    line-height: 110%;
    font-weight: lighter;
}

.buttonrot {
    grid-column: 10;
    grid-row: 10;
    z-index: 0;

}

.buttonrot p{
    text-align: center;
    border: 1px solid black;
    color:rgb(0, 0, 0);
    font-family: 'Prata', serif;
    font-style: italic;
    font-size: 1.2vw;
    font-weight: lighter;
    padding: 0.5vw;;

}

.buttonrot a
{
  text-decoration: none;
  transition: color 0.3s ease;
}

.buttonrot a:hover
 {
   color: rgb(255, 255, 255);
   background-color: #ffffff;
 }







.grid-containerviolett{
    display:grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(13, 4.165vw);

}

.grid-containerviolett > div {
    text-align: left;
    font-size: 2vw;
  }

.bildviolett{
    grid-column: 10/span7;
    grid-row: 2/ span 6 ; 
    padding-left: 6vw;
}
        
.bildviolett img{
    width: 100%;
    z-index: 1;
}

.violetterbalken {
    grid-column: 2/13;
    grid-row: 1/10;
    background-color: #ffffff;
}

.weisserbalkenviolett {
    background-color: rgba(255, 255, 255, 0);
    grid-column: 1 / 8;
    grid-row: 3/12;
    z-index: 3;
}

.titelviolett{
    grid-column: 2 / 12;
    grid-row: 1 ;
    z-index: 0;
    animation: opacity2 0.9s;
    animation-play-state:paused;
    animation-delay: calc(var(--scroll) * -1s);
    
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.titelviolett h2{
    color:#cca87e;
    text-align: left;
    font-family: 'Prata', serif;
    font-size: 6vw;
    font-style:normal;
    font-variant:normal; 
    font-weight: lighter;
}

.textviolett{
    grid-column: 5 / 10;
    grid-row: 4 ;
    z-index: 0;

    animation: opacity2 0.9s;
    animation-play-state:paused;
    animation-delay: calc(var(--scroll) * -1s);
    
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

.textviolett h3{
    text-align: left;
    color:rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vw;
    font-style:normal;
    font-variant:normal; 
    line-height: 150%;
    font-weight: lighter;
}

.textviolett p{
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: 'Prata', serif;
    font-size: 1.2vw;
    font-style:normal;
    font-variant:normal; 
    line-height: 110%;
    font-weight: lighter;
}

.buttonviolett {
    grid-column: 9;
    grid-row: 9;
    z-index: 0;

}

.buttonviolett p{
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    font-family: 'Prata', serif;
    font-style: italic;
    font-size: 1.2vw;
    font-weight: lighter;
    padding: 0.5vw;;
}

.buttonviolett a
{
  text-decoration: none;
  transition: color 0.3s ease;
}

.buttonviolett a:hover
 {
   color: rgb(255, 255, 255);
   background-color: #ffffff;
 }








.grid-containerlila{
    display:grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(11, 4.165vw);
}

.grid-containerlila > div {
    text-align: left;
    font-size: 2vw;
  }

.bildlila{
    grid-column: 1/5;
    grid-row: 5; 
}
        
.bildlila img{
    width: 100%;
    z-index: 1;
}

.lilabalken {
    background-color: #ffffff00;
    border: 3px solid rgb(222, 210, 240);
    grid-column: 4 / 13;
    grid-row: 1/ span 10;
    z-index: -1;
}

.weisserbalkenlila {
    background-color: white;
    grid-column: 4 / 12;
    grid-row: 2/10;
    z-index: -1;
}

.titellila{
    grid-column: 3 / 12;
    grid-row: 1 ;
    z-index: 0;
    margin-top: 20px;

    animation: opacity3 0.9s;
    animation-play-state:paused;
    animation-delay: calc(var(--scroll) * -1s);
    
    animation-iteration-count: 1;
    animation-fill-mode: both;

}

.titellila h2{
    color:#46305d;
    font-family: 'Prata', serif;
    font-size: 6vw;
    font-style:normal;
    font-variant:normal; 
    font-weight: lighter;
}

.textlila{
    grid-column: 6 / 11;
    grid-row: 5 ;
    z-index: 0;

    animation: opacity3 0.9s;
    animation-play-state:paused;
    animation-delay: calc(var(--scroll) * -1s);
    
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.textlila h3{
    color:black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vw;
    font-style:normal;
    font-variant:normal; 
    line-height: 150%;
    font-weight: lighter;
}

.textlila p{
    text-align: center;
    color:black;
    font-family: 'Prata', serif;
    font-size: 1.2vw;
    font-style:normal;
    font-variant:normal; 
    line-height: 110%;
    font-weight: lighter;
}

.buttonlila {
    grid-column: 11;
    grid-row: 9;
    z-index: 0;
    margin-top: 1vw;

}

.buttonlila p{
    text-align: center;
    border: 1px solid black;
    color:black;
    font-family: 'Prata', serif;
    font-style: italic;
    font-size: 1.2vw;
    font-weight: lighter;
    padding: 0.5vw;;

}

.buttonlila a
{
  text-decoration: none;
  transition: color 0.3s ease;
}

.buttonlila a:hover
 {
   color: rgb(255, 255, 255);
   background-color: #ffffff;
 }







.grid-containergrün{
    display:grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(28, 4.165vw);
}

.grid-containergrün > div {
    text-align: left;
    font-size: 2vw;
  }

.grauerbalken1 {
    background-color: #f2f5f1;
    grid-column: 2 / 6;
    grid-row: 4/ 16;
    z-index: -1;
}

.titelhellgrün{
    grid-column: 4 / 8;
    grid-row: 2 ;
    z-index: 0;

    animation: opacity4 0.9s;
    animation-play-state:paused;
    animation-delay: calc(var(--scroll) * -1s);
    
    animation-iteration-count: 1;
    animation-fill-mode: both;

}


.titelhellgrün h2{
    color:#939d6c;
    font-family: 'Prata', serif;
    font-size: 6vw;
    font-style:normal;
    font-variant:normal; 

}

.texthellgrün{
    grid-column: 2 / 6;
    grid-row: 7/ 16;
    padding: 30px;
    z-index: 0;

    animation: opacity4 0.9s;
    animation-play-state:paused;
    animation-delay: calc(var(--scroll) * -1s);
    
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.texthellgrün h3{
    color:black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vw;
    font-style:normal;
    font-variant:normal; 
    line-height: 150%;
    font-weight: lighter;
}

.texthellgrün p{
    color:black;
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 1.2vw;
    font-style:normal;
    font-variant:normal; 
    line-height: 130%;
    font-weight: lighter;
}



.buttonhellgrün {
    grid-column: 4;
    grid-row: 14;
    z-index: 0;
    margin-top: 1vw;
}

.buttonhellgrün p{
    text-align: center;
    border: 1px solid black;
    color:black;
    font-family: 'Prata', serif;
    font-style: italic;
    font-size: 1.2vw;
    font-weight: lighter;
    padding: 0.5vw;;

}

.buttonhellgrün a
{
  text-decoration: none;
  transition: color 0.3s ease;
}

.buttonhellgrün a:hover
 {
   color: rgb(255, 255, 255);
   background-color: #ffffff;
 }




.grauerbalken2 {
    background-color: #f2f5f1;
    grid-column: 8 / 12;
    grid-row: 13/ 25;
    z-index: -1;
}

.titeldunkelgrün{
    grid-column: 7 / 11;
    grid-row: 11/ 15;
    z-index: 0;
    padding-left: 30px;

    animation: opacity5 0.9s;
    animation-play-state:paused;
    animation-delay: calc(var(--scroll) * -1s);
    
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.titeldunkelgrün h2{
    color:#476540;
    font-family: 'Prata', serif;
    font-size: 5vw;
    font-style:normal;
    font-variant:normal; 

}

.textdunkelgrün{
    grid-column: 8 / 12;
    grid-row: 17/ 25;
    padding: 30px;
    z-index: 0;

    animation: opacity5 0.9s;
    animation-play-state:paused;
    animation-delay: calc(var(--scroll) * -1s);
    
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.textdunkelgrün h3{
    color:black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3vw;
    font-style:normal;
    font-variant:normal; 
    line-height: 150%;
    font-weight: lighter;
}

.textdunkelgrün p{
    color:black;
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 1.2vw;
    font-style:normal;
    font-variant:normal; 
    line-height: 130%;
    font-weight: lighter;
}

.buttondunkelgrün {
    grid-column: 10;
    grid-row: 23;
    z-index: 0;
    margin-top: 1vw;
}

.buttondunkelgrün p{
    text-align: center;
    border: 1px solid black;
    color:black;
    font-family: 'Prata', serif;
    font-style: italic;
    font-size: 1.2vw;
    font-weight: lighter;
    padding: 0.5vw;;

}

.buttondunkelgrün a
{
  text-decoration: none;
  transition: color 0.3s ease;
}

.buttondunkelgrün a:hover
 {
   color: rgb(255, 255, 255);
   background-color: #ffffff;
 }

.bild2{
    grid-column: 1/ span 6;
    grid-row: 18;

}
        
.bild2 img{
    width: 100%;
    padding-bottom: 30px;
    z-index: 1;
}

@keyframes opacity1 {
    0% {
        opacity: 0;
    }
    10%{
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
  }


  @keyframes opacity2 {
    0% {
        opacity: 0;
    }
    30%{
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
  }

  @keyframes opacity3 {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
  }


  @keyframes opacity4 {
    0% {
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
  }


  @keyframes opacity5 {
    0% {
        opacity: 0;
    }
    85%{
        opacity: 0;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
  }





@media screen and (max-width:768px){

.grid-containertitel{
    display:grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(16, 4.165vw);

}

.bild{
    grid-column: 1/ span 7;
    grid-row: 1/ span 8; 
    margin-left: -18vw;
}
        
.bild img{
    width: 100%;
    padding-bottom: 30px;
    z-index: 1;
}

.titel p{
    margin-top: 0px;
}

.textweiss{
    grid-column: 3 / 11;

}

.textweiss p{
    font-size: 1.6vw;
}


.grid-containerrot{
    display:grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(15, 4.165vw);

}

.roterbalken {
    grid-row: 1/ span 13;
}

.weisserbalkenrot {
    grid-column: 6 / 13;
    grid-row: 2/14;
}

.textrot{
    margin-top: 30px;
}
.textrot h3{
    font-size: 1.5vw;
}

.textrot p{
    font-size: 1.5vw;
}

.buttonrot {
    grid-column: 10/12;
    grid-row: 13;
}

.buttonrot p{
    font-size: 1.8vw;
}


.grid-containerviolett{
    display:grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(15, 4.165vw);

}

.violettbalken {
    grid-row: 1/ span 13;
}

.weisserbalkenviolett {
    grid-row: 2/13;
}

.textviolett{
    grid-column: 4 / 10;
    margin-top: 30px;
}
.textviolett h3{
    font-size: 1.5vw;
    line-height: 150%;
}

.textviolett p{
    font-size: 1.5vw;
    line-height: 140%;
}



.bildviolett{
    grid-column: 10/span 5;
    grid-row: 2/ span 10 ; 
}
        
.bildviolett img{
    width: 130%;
    z-index: 1;

}

.buttonviolett {
    grid-column: 8/10;
    grid-row: 12;
    margin-top: 2vw;
}

.buttonviolett p{
    font-size: 1.8vw;
}



.grid-containerlila{
    display:grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(15, 4.165vw);

}

.bildlila{
    grid-column: 1/5;
    grid-row: 6; 
}
        
.bildlila img{
    width: 130%;
    margin-left: -10vw;
}

.lilabalken {
    grid-row: 1/ span 13;
}

.weisserbalkenlila {
    grid-row: 2/13;
}

.textlila{

    margin-right: -3vw;
}
.textlila h3{
    font-size: 1.5vw;
}

.textlila p{
    font-size: 1.5vw;
    line-height: 150%;
}
.buttonlila {
    grid-column: 10/12;
    grid-row: 12;
    margin-left: 4vw;
    margin-right: -4vw;
}

.buttonlila p{
    font-size: 1.8vw;
}



.grid-containergrün{
    grid-template-rows: repeat(32, 4.165vw);
}

.grauerbalken1 {
    grid-column: 1 / 6;
    grid-row: 4/ 19;
}

.titelhellgrün{
    grid-column: 4 / 8;
    grid-row: 1 ;
}


.titelhellgrün h2{
    font-size: 6vw;
}

.texthellgrün{
    grid-column: 1 / 6;
    grid-row: 6/ 16;
}

.texthellgrün h3{
    font-size: 1.8vw;
}

.texthellgrün p{
    font-size: 1.7vw;
}

.buttonhellgrün {
    grid-column: 4/6;
    grid-row: 17;
    margin-right: 3vw;
}

.buttonhellgrün p{
    font-size: 1.8vw;
}




.grauerbalken2 {
    grid-column: 8 / 13;
    grid-row: 13/ 29;
}

.textdunkelgrün{
    grid-column: 8 / 13;
    grid-row: 17/ 25;
}

.textdunkelgrün h3{
    font-size: 1.8vw;
}

.textdunkelgrün p{
    font-size: 1.7vw;
    line-height: 140%;
}

.buttondunkelgrün {
    grid-column: 10/12;
    grid-row: 27;
    z-index: 0;
    margin-top: 1vw;
    margin-left: 6vw;
    margin-right: -3vw;
}

.buttondunkelgrün p{
    font-size: 1.8vw;
}

.bild2{
    grid-row: 21;
}
        
.bild2 img{
    width: 100%;
    padding-bottom: 30px;
    z-index: 1;
}

}




footer {
    display: grid;
    grid-template-columns: repeat(12, 8.33vw);
    grid-template-rows: repeat(6, 2.0825vw);
    padding: 0.7px;
    background-color: rgb(255, 255, 255);
    border-top: 0.1vw solid rgb(0, 0, 0);

  }

.footertitel {
    grid-column: 3;
    grid-row: 1;

}

.footertitel p{
    color:black;
    text-align: left;
    font-family: 'Prata', serif;
    font-size: 3vw;
    font-weight: lighter;
    border-left: 0.15vw solid rgb(0, 0, 0);
    padding-left: 1vw;
}


.footeritems {
    grid-column: 1/3;
    grid-row: 2;
    text-align: left;
    margin-left: 2vw;
}

.footeritems p{
    color:black;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4vw;
    font-weight: lighter;

}

.footeritems img{
    width: 15%;
    z-index: 1;
    margin-top: 1vw;
    margin-right: 0.5vw;
}

.footernewsletter {
    grid-column: 10/12;
    grid-row: 3;
}

.footernewsletter h3{
    color:black;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
    font-weight: lighter;
}

.footersubscribe {
    grid-column: 11;
    grid-row: 4;
    z-index: 0;
    margin-top: 1vw;
}

.footersubscribe p{
    text-align: center;
    border: 1px solid black;
    color:black;
    font-family: 'Prata', serif;
    font-style: italic;
    font-size: 1vw;
    font-weight: lighter;
    padding: 0.5vw;;

}

.footersubscribe a
{
  text-decoration: none;

  transition: color 0.3s ease;
}

.footersubscribe a:hover
 {
   color: rgb(255, 0, 0);
   background-color: #c72b2b;

 }

 @media screen and (max-width:768px){

    .footeritems p{
        color:black;
        text-align: left;
        font-family: 'Raleway', sans-serif;
        font-size: 1.8vw;
        font-weight: lighter;
    
    }
    .footernewsletter {
        grid-column: 9/12;
        grid-row: 2;
    }
    .footernewsletter h3{
        color:black;
        text-align: right;
        font-family: 'Raleway', sans-serif;
        font-size: 1.8vw;
        font-weight: lighter;
    }
    .footersubscribe {
        grid-column: 10/12;
        grid-row: 3;
        margin-top: 2.5vw;
    }
    .footersubscribe p{
        text-align: center;
        border: 1px solid black;
        color:black;
        font-family: 'Prata', serif;
        font-style: italic;
        font-size: 1.6vw;
        font-weight: lighter;
        padding: 0.5vw;;
    }
 }

